In [1]:
import sys
from pathlib import Path

# Add parent directory to sys.path
parent_dir = Path("..").resolve()
if str(parent_dir) not in sys.path:
    sys.path.insert(0, str(parent_dir))

# Now import your module
import importlib
import common_utils
importlib.reload(common_utils)

# Import specific functions
from common_utils import (
    get_unique_image_shapes,
    get_unique_image_paths,
    load_images_from_paths,
    build_image_dataframe,
    split_data,
    bin_ages
)

Check the shapes to see what we are working with and know how to handle the imput into the model later on

In [2]:
# unique_shapes = get_unique_image_shapes()
# for shape in unique_shapes:
#     print(shape)

In [3]:
paths=get_unique_image_paths()
len(paths)

9572

In [4]:
image_paths_csv=build_image_dataframe(paths)

In [5]:
image_paths_csv.head(5)

                                 path  age
0  ../raw_data2/face_age/024/3949.png   24
1  ../raw_data2/face_age/024/4767.png   24
2  ../raw_data2/face_age/024/5445.png   24
3  ../raw_data2/face_age/024/7520.png   24
4  ../raw_data2/face_age/024/2128.png   24

In [6]:
# image_paths_csv.age.value_counts().sort_index().plot(kind='bar')

In [7]:
image_paths_csv=bin_ages(image_paths_csv)

In [8]:
image_paths_csv.head()

                                 path  age age_bin         age_bin_label
0  ../raw_data2/face_age/024/3949.png   24       5  Young Adults (18–24)
1  ../raw_data2/face_age/024/4767.png   24       5  Young Adults (18–24)
2  ../raw_data2/face_age/024/5445.png   24       5  Young Adults (18–24)
3  ../raw_data2/face_age/024/7520.png   24       5  Young Adults (18–24)
4  ../raw_data2/face_age/024/2128.png   24       5  Young Adults (18–24)

In [9]:
image_paths_csv.path

0       ../raw_data2/face_age/024/3949.png
1       ../raw_data2/face_age/024/4767.png
2       ../raw_data2/face_age/024/5445.png
3       ../raw_data2/face_age/024/7520.png
4       ../raw_data2/face_age/024/2128.png
                       ...
9567    ../raw_data2/face_age/060/7471.png
9568    ../raw_data2/face_age/060/6784.png
9569    ../raw_data2/face_age/060/6237.png
9570    ../raw_data2/face_age/060/2079.png
9571    ../raw_data2/face_age/060/5138.png
Name: path, Length: 9572, dtype: object

In [10]:
import os
os.makedirs("./processed_data",exist_ok=True)

image_paths_csv.to_csv("./processed_data/image_paths.csv", index=False)

In [11]:
image_paths_csv.age_bin.value_counts().sort_index()

age_bin
0     1572
1      712
2      459
3      453
4      641
5      875
6     1325
7      854
8      901
9      710
10     489
11     299
12     282
Name: count, dtype: int64

In [12]:
paths_train_df, paths_val_df, paths_test_df = split_data(image_paths_csv)